<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>Micon counter</title>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script src="http://js.pusher.com/2.0/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Flash fallback logging - don't include this in production
    var pusher = new Pusher('158c5485f8999d5f9af4');
    var channel = pusher.subscribe('counter');

    channel.bind('count_up', function(data) {
      var countString = String(data);
      var structHtml = "";

      for (var i=0; i<countString.length; i++) {
        countNumber = countString.slice(i, i+1);
        structHtml += '<img src="images/no_' + countNumber + '.png" />';
      }

      $(".counter").html(structHtml);
    });
  </script>
</head>
<body style="background-color:#fff78c;padding-top:20px;">
  <div class="counter" style="text-align:center;background-image:URL(images/bg_img.gif);background-repeat:no-repeat;width:935px;height:406px;vertical-align:middle; margin:0 auto;padding-top:80px;">
    <% @numberArray.each do |num| %>
      <img src="images/no_<%= num %>.png"/>
    <% end %>
  </div>

  <img src="images/no_0.png" style="display:none;" id="no0"/>
  <img src="images/no_1.png" style="display:none;" id="no1"/>
  <img src="images/no_2.png" style="display:none;" id="no2"/>
  <img src="images/no_3.png" style="display:none;" id="no3"/>
  <img src="images/no_4.png" style="display:none;" id="no4"/>
  <img src="images/no_5.png" style="display:none;" id="no5"/>
  <img src="images/no_6.png" style="display:none;" id="no6"/>
  <img src="images/no_7.png" style="display:none;" id="no7"/>
  <img src="images/no_8.png" style="display:none;" id="no8"/>
  <img src="images/no_9.png" style="display:none;" id="no9"/>
</body>
</html>

